* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    color: black;
    background-color:dodgerblue;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 30px;
}
body{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 20px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}
section{
    background-color: white;
    margin-bottom: 30px;
    border-radius: 50px;
    padding: 30px;
    width:600px ;
}
section:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
section p{
    margin-bottom: 10px;
    line-height: 1.6;
}
section h3{
    margin-top: 25px;
    margin-bottom: 10px;
    color: #667eea
}

#sung, #iron, #igris, #tusk, #tank, #kaisel, #beru{
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #667eea;
}

ul{
    margin-top: 15px;
    margin-left: 20px;
}
li {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #555;
}